<!-- Header Standard Landing  -->
<div class="content-bg-wrap"></div>
<div class="header--standard header--standard-landing" id="header--standard">
	<div class="container">
		<div class="header--standard-wrap">

			<a href="#" class="logo">
				<div class="img-wrap">
					<img src="../assets/img/logo_adventista_small.png" alt="Olympus">
				</div>
				<div class="title-block">
					<h6 class="logo-title">Corporación Universitaria Adventista</h6>
					<div class="sub-title">SISTEMAS</div>
				</div>
			</a>
			<div class="nav nav-pills nav1 header-menu">
				<div class="mCustomScrollbar">
					<ul>
						<li class="nav-item js-expanded-menu">
							<a href="#" class="nav-link">
								<svg class="olymp-menu-icon"><use xlink:href="assets/svg-icons/icons.svg#olymp-menu-icon"></use></svg>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- ... end Header Standard Landing  -->

<div class="header-spacer--standard"></div>

<div class="container">
	<div class="row display-flex">
		<div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
			<div class="landing-content">
				<h1>Bienvenido a una Institución diferente</h1>
				<p>Con principios y valores cristianos.
				</p>
				<a href="#" class="btn btn-md btn-border c-white">¡Comenzar Ahora!</a>
			</div>
		</div>

		<div class="col col-xl-5 col-lg-6 col-md-12 col-sm-12 col-12">
			
			<!-- Login-Registration Form  -->
			
			<div class="registration-login-form">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li class="nav-item">
						<a class="nav-link active" data-toggle="tab" href="#home" role="tab">
							
							<svg class="olymp-login-icon"><use xlink:href="assets/svg-icons/icons.svg#olymp-login-icon"></use></svg>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" data-toggle="tab" href="#profile" role="tab">
							<svg class="olymp-register-icon"><use xlink:href="assets/svg-icons/icons.svg#olymp-register-icon"></use></svg>
						</a>
					</li>
				</ul>
			
				<!-- Tab panes -->
				<app-login></app-login>
			</div>
			
			<!-- ... end Login-Registration Form  -->		
		</div>
	</div>
</div>
<router-outlet></router-outlet>