<div class="tab-content">
    <div class="tab-pane active" id="home" role="tabpanel" data-mh="log-tab">
        <div class="title h6">Registrar Usuario</div>
<form #registerForm="ngForm" class="content" (ngSubmit)="ngRegister(); registerForm.resetForm()">
    <div class="row">
        <div class="col col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <div class="form-group label-floating is-empty">
                <input class="form-control" placeholder="Nombre" type="text"
                id="nombre" name="nombre" #nombre="ngModel" [(ngModel)]="user.nombre">
            </div>
        </div>
        <div class="col col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <div class="form-group label-floating is-empty">
                <input class="form-control" placeholder="Apellido" type="text"
                name="apellido" #apellido="ngModel" [(ngModel)]="user.apellido">
            </div>
        </div>
        <div class="col col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12">
            <div class="form-group label-floating is-empty">
                <input class="form-control" placeholder="Usuario" type="text"
                name="usuario" #usuario="ngModel" [(ngModel)]="user.usuario">
            </div>
        </div>
        <div class="col col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12">
            <div class="form-group label-floating is-empty">
                <input class="form-control" placeholder="DNI" type="text"
                name="dni" #dni="ngModel" [(ngModel)]="user.dni">
            </div>
        </div>
        <div class="col col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <div class="form-group label-floating is-empty">
                <input class="form-control" placeholder="Correo" type="email"
                name="email" #email="ngModel" [(ngModel)]="user.email">
            </div>
            <div class="form-group label-floating is-empty">
                <input class="form-control" placeholder="Contraseña" type="password"
                name="password" #password="ngModel" [(ngModel)]="user.password">
            </div>

            <div class="form-group date-time-picker label-floating">
                <label class="control-label">Fecha Nacimiento</label>
                <input name="datetimepicker" value="10/24/1984" />
                <span class="input-group-addon">
                                <svg class="olymp-calendar-icon"><use xlink:href="assets/svg-icons/icons.svg#olymp-calendar-icon"></use></svg>
                            </span>
            </div>
            <input type="submit" class="btn btn-purple full-width" value="Registrar" />
            <h4 class="h4 accent-color-true" style="text-align:center">{{message}}</h4>
            <h4 class="h4 accent-color-false" style="text-align:center">{{messagefalse}}</h4>
        </div>
    </div>
</form>
    </div>
    <div class="tab-pane" id="profile" role="tabpanel" data-mh="log-tab">
        <div class="title h6">Login</div>
        <form #loginForm="ngForm" class="content" (ngSubmit)="ngSubmit()">
            <div class="row">
                <div class="col col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="form-group label-floating is-empty">
                        <input class="form-control" placeholder="Usuario" name="loginusuario" #loginusuario="ngModel" 
                        [(ngModel)]="user.usuario" type="text">
                    </div>
                    <div class="form-group label-floating is-empty">
                        <input class="form-control" placeholder="Contraseña" name="loginpassword" type="password" 
                        #loginpassword="ngModel" [(ngModel)]="user.password">
                    </div>
                    <input type="submit" class="btn btn-purple full-width" value="Login" [disabled]="!loginForm.form.valid" />
                    <h4 class="h4 accent-color-true" style="text-align:center">{{message}}</h4>
                    <h4 class="h4 accent-color-false" style="text-align:center">{{messagefalse}}</h4>
                </div>
            </div>
        </form>
    </div>
</div>